@import "tailwindcss";

html, body, #root {
  height: 100%;
}
/* :root{
  --bg-color:white;
  --bg-color:rgb(97, 23, 23);
  --text-color:Black;
}

.dark{
  --bg-color:black;
  --text-color:rgb(246, 11, 11);
} */

/* body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  transition: background 0.3s,color 0.3s;
} */

/* button{
  padding: 10px  20px;
  cursor: pointer;
  border-radius: 5px;
  background-color:cadetblue;
  color: aliceblue;
} */
@keyframes scaleFade {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleFade {
  animation: scaleFade 0.15s ease-out;
}
