@import "tailwindcss";

html, body, #root {
  height: 100%;
}
@keyframes scaleFade {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleFade {
  animation: scaleFade 0.15s ease-out;
}
